
<body>
  <div class="messageGood d-flex " *ngIf="successMessage || failMessage">
    <div [class.messageGood]="successMessage" [class.messageBad]="failMessage">
  
      <p >{{message}}</p>   
    </div>
  </div>
<div class="row">
  <div class="left">

    <div *ngIf="training  && !insertModalActive"  (click)="ChangeDescriptionSize()" [class.descriptionBig]="descriptionClicked" [class.description]="!descriptionClicked">
      <div  *ngIf="descriptionClicked" >
        <div class = "row">
          <p id ="notesNames">Description</p>   
          <span class=" glyphicon glyphicon-menu-up" id="down" aria-hidden="true"></span>      
        </div>
        <div class = "maxlenght">
        <p id ="notesNames">{{training.description}}</p>
        </div>
        </div>
        <div  *ngIf="!descriptionClicked" >
          <p></p>
          <div class = "row">
            <p id ="notesNames">Description</p>   
            <span class=" glyphicon glyphicon-menu-down" id="down" aria-hidden="true"></span>      
          </div>
        </div>  
      </div>   
<!-- /////////////////////////////////////////////////////////////-->
      <div *ngIf="training  && !insertModalActive"  (click)="changeTimes()" [class.timesBig]="setsClicked" [class.times]="!setsClicked">
        <div  *ngIf="setsClicked" >
          <div class = "row">
            <p id ="notesNames">Sets</p>   
            <span class=" glyphicon glyphicon-menu-up" id="down" aria-hidden="true"></span>      
          </div>
          <div class = "maxlenght" *ngIf="setsToDisplay.length>0">
            <p id ="notesNames">Nr/distance/run/rest</p>   
            <div *ngFor="let trainingSet of setsToDisplay; let i = index" name="sets">
       
              <div class ="form-group ">
              <div class= "row setss" >
                <div class="col-sm-1" >
                  <td >{{i+1}}</td>         
                </div>
                <div  class="col-sm-2">
                  <td >{{trainingSet.distane}} </td>    
              </div>
              <div class="col-sm-4" >
                <td >{{trainingSet.runTime}}</td>         
              </div>
              <div  class="col-sm-4">
                <td >{{trainingSet.rest}}</td>    
            </div>



          <!--      <div class="input-field col s1" >
                  <input type="number" step="0.01" class=" setInput "  value = "{{i+1}}" name="distance{{i}}"readonly>
                </div>
                <div class="input-field col s3" >
                  <input type="number" step="0.01" class="setInput " [(ngModel)]="trainingSet.distance"  name="distance{{i}}" placeholder="Distance/m" readonly>
                </div>
                <div class="input-field col s3" >
                  <input type="number" step="0.01" class=" setInput " [(ngModel)]="trainingSet.pace" name="pace{{i}}" placeholder="Pace/s" readonly>                      
                </div>  
                <div class="input-field col s3" >
                  <input type="number" step="0.01" class="setInput "  [(ngModel)]="trainingSet.rest" name="rest{{i}}" placeholder="Rest/s" readonly>                      
                </div>
                -->
                </div>
                </div>
            </div>  
          </div>
          </div>
          <div  *ngIf="!setsClicked" >
            <p></p>
            <div class = "row">
              <p id ="notesNames">Sets</p>   
              <span class=" glyphicon glyphicon-menu-down" id="down" aria-hidden="true"></span>      
            </div>
          </div>  
        </div> 
     <!-- /////////////////////////////////////////////////////////////-->

          <div *ngIf="training  && !insertModalActive && Role==='Coach' "  (click)="changeManage()" [class.timesBig]="manageClicked" [class.times]="!manageClicked">
            <div  *ngIf="manageClicked" >
              <div class = "row">
                <p id ="notesNames">Manage</p>   
                <span class=" glyphicon glyphicon-menu-up" id="down" aria-hidden="true"></span>      
              </div>
              <div class = "maxlenght">
                <div class = "maxlenght">
                  <div class="row">
                    <div class="input-field col s6" >
                      <button  class="btn btn-success manageButtons" (click)="OpenModal('update')" *ngIf="belongsToUser">Update</button>                    
                    </div>
                    <div class="input-field col s6" >
                    <button  class="btn btn-info manageButtons" (click)="OpenModal('delete')" *ngIf="belongsToUser">Delete</button>  
                  </div>
                  </div>
                </div>
              </div>
              </div>
              <div  *ngIf="!manageClicked" >
                <p></p>
                <div class = "row">
                  <p id ="notesNames">Manage</p>   
                  <span class=" glyphicon glyphicon-menu-down" id="down" aria-hidden="true"></span>      
                </div>
              </div>  
            </div>   
   
    
  </div>
  <div class="right">
  
      
      <select class="type" (change)="onChangeType($event.target.value)" name="typeChoose">
        <option selected value="All">All trainings</option>
        <option value=5e5900f597e81d0001a5cdec>Speed</option>
        <option value="5e59010597e81d0001a5cded">Speed endurance</option>
        <option value="5e59011297e81d0001a5cdee">Speed endurance II</option>
        <option value="5e59021997e81d0001a5cdef">Tempo</option>
        <option value="5e7f4732076ce700012eb97a">Exerciseses on the stairs</option>
        <option value="5e7f47bd076ce700012eb97c">run on the stairs</option>
        <option value="5e7f4764076ce700012eb97b">Cross</option>
        <option value="5e7f4a96076ce700012eb97d">limbering-up</option>
        </select>

        <button class="btn btn-secondary float-right newTrain" (click)="OpenModal('insert')" *ngIf="Role==='Coach'||Role==='Admin'">New Training</button >
    
   
   
     
      <br><br>
    <div class="list-group trainings">
      <div *ngFor="let training of trainings" (click)="ChooseTraining(training.id)" >
          <div class = "row tableRow">
          <div class="input-field col s4 trains" >
            <td >{{training.toDisplay}}</td>         
          </div>
          <div  class="input-field col s4 trains">
            <td >{{training.trainingTypeName}}</td>    
        </div>
        <div class="input-field col s4 rightside trains" >
          <div *ngIf="training.isPersonal">
          <span class="glyphicon glyphicon-ok-circle"  id ="truefalse"></span>
          </div>
          <div *ngIf="!training.isPersonal">
            <span class="glyphicon glyphicon-remove-circle" id ="truefalse"></span>
            </div>
           
        </div>
      </div>
      </div>
      </div>
  </div>
  
 
</div>
</body>
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
         
         
          
          <!-- Modal body -->
          <div class="modal-body" *ngIf="insertModalActive || updateModalActive" >
            <form #trainingtemplateForm="ngForm" class="" >
              <div class="form-group">    
                <label for="descriptionTextArea">ToDisplay</label>           
               <textarea  type="text" class="form-control" [(ngModel)]="training.toDisplay" name="toDisplay" > </textarea>
              </div>   
              <div class="form-group">    
                <label for="descriptionTextArea">Description</label>           
               <textarea  type="text" class="form-control" [(ngModel)]="training.description" name="description" > </textarea>
              </div>   
              
              <div class="form-group">
                <div class= "row" >
                  <div class="input-field col s5" >
                  <label for="exampleFormControlSelect1">Training type</label>
                  <select class="form-control" id="typeselection" [(ngModel)]="training.trainingType" name="trainingtype" required >
                    <option value=5e5900f597e81d0001a5cdec>Speed</option>
                    <option value="5e59010597e81d0001a5cded">Speed endurance</option>
                    <option value="5e59011297e81d0001a5cdee">Speed endurance II</option>
                    <option value="5e59021997e81d0001a5cdef">Tempo</option>
                    <option value="5e7f4732076ce700012eb97a">Exerciseses on the stairs</option>
                    <option value="5e7f47bd076ce700012eb97c">run on the stairs</option>
                    <option value="5e7f4764076ce700012eb97b">Cross</option>
                    <option value="5e7f4a96076ce700012eb97d">limbering-up</option>
                  </select>
                  </div>
                <div class="input-field col s3">
                  <label for="exampleFormControlSelect1">Destinition</label>
                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="training.destinition" name="destinition"> 
                  <option type="number"  value=400>400</option>
                  <option type="number"  value=600>600</option>
                  <option type="number"  value=800>800</option>
                  <option type="number"  value=1000>1000</option>
                </select>
                </div>
                <div class="input-field col s2">
                  <label for="exampleFormControlSelect1">Repeats</label>
                  <input type="number" step="1"class="form-control" [(ngModel)]="training.repeats" name="repeats" placeholder="Repeats" required>      

                  </div>

                </div>        
              </div>
              <div class ="form-group  "*ngIf="Role==='Coach'">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="personalTraining" [(ngModel)]="training.isPersonal" name="isPersonal">
                  <label class="form-check-label" for="personalTraining">
                    Personal
                  </label>
                </div>                
              </div>
              <div class ="form-group ">
                <div *ngFor="let trainingtoAdd of trainingsToAdd; let i = index" name="sets">
                  
                  <div class ="form-group ">
                  <div class= "row" >
                    <div class="input-field col s3" >
                      <input type="number" step="0.01" class="form-control" [(ngModel)]="trainingtoAdd.distance"  name="distance{{i}}" placeholder="Distance/m" required>
                    </div>
                    <div class="input-field col s3" >
                      <input type="number" step="0.01" class="form-control" [(ngModel)]="trainingtoAdd.pace" name="pace{{i}}" placeholder="Pace/s" required>                      
                    </div>  
                    <div class="input-field col s3" >
                      <input type="number" step="0.01" class="form-control"  [(ngModel)]="trainingtoAdd.rest" name="rest{{i}}" placeholder="Rest/s" required>                      
                    </div>
                    <div class="input-field col s1" >
                      <button  class="btn btn-info" (click)="OnDelete(i)">-</button>                     
                    </div>
                    </div>
                    </div>
                </div>                
             </div>
            <div class="form-group">
              <button  class="btn btn-info" (click)="OnClick()">+</button>
              </div>
              <div class="form-group">
               <button [disabled]="!trainingtemplateForm.valid" class="btn btn-secondary" (click)="OnSubmit()">Confirm</button>
               </div>
           </form>          
          </div>

       <!--   <div class="modal-body" *ngIf="deleteModalActive" >
            You Sure you want to delete this training?
            <button class="btn btn-secondary" type="submit" (click)="DeleteTemplate()">Confirm</button>
            </div>-->

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    

     <!-- The Modal -->
     <div class="modal " id="myModalDelete">
      <div class="modal-dialog ">
        <div class="modal-content modalDelete">

        <!-- Modal Header -->
        <div class="modal-header head" *ngIf="Role==='Coach' && deleteModalActive"> 
          <h4 class="modal-title">Delete confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> 
    
        <div class="modal-body modalDeleteBody" *ngIf="Role==='Coach' && deleteModalActive" >
          Are you sure you want to delete this training?
          <br>
          <div class = "row buttons">
          <button class="btn btn-secondary" type="submit"  (click)="DeleteTemplate()">Delete</button>
          <div class="divider"></div>
          <button type="button ml-1" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>

  