<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit()">
  <div class ="form-group">
    <div class="row">
      <div class="input-field col s6">
        <input type="email" class="form-control"  name="Email"  [(ngModel)]="user.email" required placeholder="Enter email">   
           
      </div>
      
    </div>
  </div>
  <div class ="form-group">
    <div class="row">
      <div class="input-field col s6">
        <input class="validate form-control" type="password" name="Password"  [(ngModel)]="pw1" required minlength="6"  placeholder="Enter password">        
      </div>
      <div class="input-field col s6">
        <input class="validate form-control" type="password" name="Password2" [(ngModel)]="pw2" required minlength="6" placeholder="Repeat password">
        <!---<label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 6 characters needed'):''">Password</label>-->
      </div>
    </div>
  </div>
  <div class ="form-group">
    <div class="row">
      <div class="input-field col s6">
        <input  class="form-control" type="text" name="FirstName"  [(ngModel)]="user.name" required placeholder="Enter your name">
      
      </div>
      <div class="input-field col s6">
        <input class="form-control" type="text" name="LastName"  [(ngModel)]="user.surname" required placeholder="Enter your last name">
        
      </div>
    </div>
  </div>

  <div class ="form-group ">
      <label class="radio-inline">
        <input type="radio" name="optradio" [(ngModel)]="user.role" id="Athlete" value="Athlete" checked>Athlete
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio2"  [(ngModel)]="user.role" id="Coach" value="Coach" >Coach
      </label>   
  </div>
  <div class ="form-group ">
    <div class="row">
      <div class="input-field col s12 text-center">
        <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit btn btn-secondary" type="submit">Submit</button>
      </div>
    </div>
  </div>
  </form>
  <div *ngIf="error" class="">
  <i class="material-icons ">error</i> <a class= "text-danger">{{error}}</a>
</div>

 

