
<body>

    <div class="container">
      <button class="btn btn-secondary float-right newCompetition" (click)="OpenModal()" *ngIf="(Role==='Coach'|| Role==='Athlete')&& !isFriend">{{'COMPETITIONS.NEWCOMPETITION' | translate}}</button >
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 " *ngIf="Outside" > 
          <div>
            <p class = " text-center mt-3 " id="title">{{'COMPETITIONS.OUTSIDE' | translate}}</p>
          </div>   
        <table class="">
          <thead>
            <tr >
              <th class="col-md-2  " >{{'COMPETITIONS.DISTANCE' | translate}}</th>
              <th class="col-md-2"  >{{'COMPETITIONS.TIME' | translate}}</th>
              <th class="col-md-4" >{{'COMPETITIONS.DATE' | translate}}</th>
              <th class="col-md-4"  >{{'COMPETITIONS.COMPETITION' | translate}}</th>
            </tr>
          </thead>
         
          <tbody>            
              
            <tr *ngFor="let competitionOutside of Outside" class ="comp">
              <td class="col-md-2" >{{competitionOutside.distance}}</td>
              <td class="col-md-2 " >{{ competitionOutside.time}}</td> 
              <td class="col-md-4">{{ competitionOutside.dateString}}</td>    
              <td class="col-md-4 "><div class="competition"> {{ competitionOutside.competition}}</div></td>    
           </tr>           
            
          </tbody>
   
        </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 " *ngIf="Inside" > 
          <div>
            <p class = " text-center mt-3" id="title">{{'COMPETITIONS.INSIDE' | translate}}</p>
          </div> 
        <table class="">
          <thead>
            <tr>
              <th class="col-md-2  " >{{'COMPETITIONS.DISTANCE' | translate}}</th>
              <th class="col-md-2"  >{{'COMPETITIONS.TIME' | translate}}</th>
              <th class="col-md-4" >{{'COMPETITIONS.DATE' | translate}}</th>
              <th class="col-md-4"  >{{'COMPETITIONS.COMPETITION' | translate}}</th>
            </tr>
          </thead>
          
          <tbody>           
            <tr *ngFor="let competitionInside of Inside" class ="comp">
              <td class="col-md-2">{{competitionInside.distance}}</td>
              <td class="col-md-2 ">{{ competitionInside.time}}</td> 
              <td class="col-md-4" >{{ competitionInside.dateString}}</td>  
              <td class =" col-md-4"><div class="competition"> {{ competitionInside.competition}}</div></td>      
            </tr>
          </tbody>
        
        </table>
        </div>
        </div>
  
      
    </div>
  
  
  </body>
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class ="hedr">
            <p id="header">{{'COMPETITIONS.ADDCOMPETITION' | translate}}</p>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
         
          <app-new-competition-modal
          (FillForms)="FillFormsOwn()"
          ></app-new-competition-modal>
          
          
        </div>
      </div>
    </div>