html, body {
    height: 92.3vh;
    background-color: white;
}
.row {
    width: 100%;
  }
  input:read-only {
    background-color: lightgrey;
  }
  .container{
    margin-top: 10%;
    height:60%
  }
  
div.left{    
    width:25%;    
    float:left;
    background-color: grey;
    box-sizing: border-box;
  }
 
  div.right{
    width:75%;
    height: 92.3vh;
    background-color: white;
    box-sizing: border-box;
  }
  div.head
  {
    height: 10%;
    background-color: khaki;
    width: 101.2%;
    text-align: center;
    vertical-align: middle;
    font-size: 300%;
  }
  p.heading {
    
    font-family: Arial, Helvetica, sans-serif;
   
  }
  input{
    width: 50%;
    border-radius: 5%;

  }
  button.edit
{
    border-radius: 15px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    height:50px;
    background-color: rgb(59, 59, 59);
    margin-top: 2%;
    
}
p.namesur
{
    margin-left: 25%;
    border-bottom:1px solid grey;
    font-family: "Courier New", Courier, monospace;
}
div.namesur
{
    
    font-size: 200%;

}
div.formdiv
{
    margin-top: 5%;
    text-align: center;
    vertical-align: middle;
}

div.coachTab
{  
    margin-left: 5%;
    width: 90%;
    margin-top: 10%;
    height: 10%;
   //height: 100px;
    background-color: khaki;
    border-radius: 15px;
    transition: height 300ms;
    overflow: hidden;
}
div.coachTab:hover,div.friends:hover, div.athletes:hover
{
    background-color: rgb(219, 209, 61);
}
div.coachTabBig
{
  overflow: hidden;
  margin-left: 5%;
  width: 90%;
  margin-top: 10%;
  height: 15%;
// height: 300px;
  background-color: khaki;
  border-radius: 15px;
  transition: height 300ms;
  
}



div.friends
{  
    margin-left: 5%;
    width: 90%;
    margin-top: 5%;
    height: 10%;
   //height: 100px;
    background-color: khaki;
    border-radius: 15px;
    transition: height 300ms;
    overflow: hidden;
}

div.friendsBig
{
  overflow: hidden;
  margin-left: 5%;
  width: 90%;
  margin-top: 5%;
  max-height: 30%;
// height: 300px;
  background-color: khaki;
  border-radius: 15px;
  transition: height 300ms;
  
}



div.athletes
{  
    margin-left: 5%;
    width: 90%;
    margin-top: 10%;
    height: 10%;
   //height: 100px;
    background-color: khaki;
    border-radius: 15px;
    transition: height 300ms;
    overflow: hidden;
}

div.athletesBig
{
  overflow: hidden;
  margin-left: 5%;
  width: 90%;
  margin-top: 10%;
  max-height: 30%;
// height: 300px;
  background-color: khaki;
  border-radius: 15px;
  transition: height 300ms;
  
}

#notesNames
{ 

  margin-left:10%;
  margin-top:1%;
  font-family: "Comic Sans MS", cursive, sans-serif
}
#side
{
   font-size:7px;
  margin-left:10%;
  margin-top:1%;
  font-family: "Comic Sans MS", cursive, sans-serif

}
#down{
  margin-top:-10%;
  margin-left:90%;
}

.maxlenght
{
  overflow-y: auto; 
  overflow-x:  hidden;
  max-height:150px;
}

div.athleteListElem
{
 border-bottom: 2px grey solid;
 border-top: none;
 border-right: none;
}

.maxlenght
{
  overflow-y: auto; 
  overflow-x:  hidden;
  max-height:350px;
}



.messageGood
{
  text-align: center;
  font-size: 250%;
opacity: 0.9;
width: 100%;
position: absolute;
height: 10%;
background-color: rgb(114, 179, 114);
}

.messageBad
{
  text-align: center;
  font-size: 250%;
opacity: 0.9;
width: 100%;
position: absolute;
height: 10%;
background-color: rgb(179, 116, 114);
}