
<body>
    <div class="d-flex " *ngIf="successMessage || failMessage">
        <div [class.messageGood]="successMessage" [class.messageBad]="failMessage">
      
          <p >{{message}}</p>   
        </div>
      </div>

    <div class="row">
      <div class="left">

        <!---------------------------------------COACH------------------------------------->
            <div  (click)="ChangeCoachSize()" [class.coachTabBig]="CoachClicked" [class.coachTab]="!CoachClicked"  *ngIf="role==='Athlete'"> 
        <div  *ngIf="CoachClicked" >
            <div class = "row">
            <p id ="notesNames">Coach</p>   
            <span class=" glyphicon glyphicon-menu-up" id="down" aria-hidden="true"></span>      
            </div>
            <div class = "maxlenght">
                <div class="list-group" *ngIf="coach" >       
                  
                    <tr *ngFor="let coach1 of coach" > 
                        <div class="row justify-content-between" >
                       <div  class=" list-group-item-action col-md-9 athleteListElem" (click)="CheckFriend(coach1)" >
                      <td class="col-md-6 " >{{coach1.name}}</td>
                      <td class="col-md-6 " >{{ coach1.surname}}</td> 
                        </div>
                     
                        </div>
                      </tr>            
                  </div>
            </div>
            </div>
            <div  *ngIf="!CoachClicked" >
            <p></p>
            <div class = "row">
                <p id ="notesNames">Coach</p>   
                <span class=" glyphicon glyphicon-menu-down" id="down" aria-hidden="true"></span>      
            </div>
            </div>  
        </div>   
         <!---------------------------------------FRIENDS------------------------------------->
         <div  (click)="ChangeFriendsSize()" [class.friendsBig]="friendsClicked" [class.friends]="!friendsClicked"  *ngIf="role==='Athlete'"> 
            <div  *ngIf="friendsClicked" >
                <div class = "row">
                <p id ="notesNames">Friends</p>   
                <span class=" glyphicon glyphicon-menu-up" id="down" aria-hidden="true"></span>      
                </div>
                <div class = "maxlenght">
                    <div class="list-group" *ngIf="friends" >       
                      
                        <tr *ngFor="let friend of friends" > 
                            <div class="row justify-content-between"  >
                           <div  class=" list-group-item-action col-md-9 athleteListElem" (click)="CheckFriend(friend)">
                          <td class="col-md-6 " >{{friend.name}}</td>
                          <td class="col-md-6 " >{{ friend.surname}}</td> 
                            </div>
                         
                            </div>
                          </tr>            
                      </div>
                </div>
                </div>
                <div  *ngIf="!friendsClicked" >
                <p></p>
                <div class = "row">
                    <p id ="notesNames">Friends</p>   
                    <span class=" glyphicon glyphicon-menu-down" id="down" aria-hidden="true"></span>      
                </div>
                </div>  
            </div>   

             <!---------------------------------------Athletes for coach------------------------------------->
         <div  (click)="ChangeAthleteSize()" [class.athletesBig]="athletesClicked" [class.athletes]="!athletesClicked"  *ngIf="role==='Coach'"> 
            <div  *ngIf="athletesClicked" >
                <div class = "row">
                <p id ="notesNames">Athletes</p>   
                <span class=" glyphicon glyphicon-menu-up" id="down" aria-hidden="true"></span>      
                </div>
                <div class = "maxlenght">
                    <div class="list-group" *ngIf="athletes" >       
                      
                        <tr *ngFor="let athlete of athletes" > 
                            <div class="row justify-content-between" >
                           <div  class=" list-group-item-action col-md-9 athleteListElem" (click)="CheckFriend(athlete)">
                          <td class="col-md-6 " >{{athlete.name}}</td>
                          <td class="col-md-6 " >{{ athlete.surname}}</td> 
                            </div>
                         
                            </div>
                          </tr>            
                      </div>
                </div>
                </div>
                <div  *ngIf="!athletesClicked" >
                <p></p>
                <div class = "row">
                    <p id ="notesNames">Athletes</p>   
                    <span class=" glyphicon glyphicon-menu-down" id="down" aria-hidden="true"></span>      
                </div>
                </div>  
            </div> 
        </div>

        <div class="right">
            <div class="head ">
                <p class="heading"> USER INFORMATION</p>
            </div>
            <div class="container ">

                <div class="namesur">

                    <p class="namesur">{{user.name}} {{user.surname}}</p>
                </div>
                <div class="formdiv">
                <form #loginForm="ngForm" class=""  ngNativeValidate>
                    <div class="form-group">   
                        <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>                      
                        <input type="email" class="ml-3" [(ngModel)]="role" name="role"  readonly  >  
                    </div>
                    <div class="form-group">      
                        <span class="glyphicon glyphicon glyphicon-barcode" aria-hidden="true"></span>                 
                     <input type="email" class="ml-3" [(ngModel)]="user.id" name="id"  readonly  >  
                    </div>
                    
                    <div class="form-group">        
                         <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span>             
                        <input type="email" class="ml-3" [(ngModel)]="user.email" name="email" readonly  >  
                    </div>   
                    <div class="form-group">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  
                     <input type="password" class="ml-3" [(ngModel)]="firstPass" name="firstPassword"  placeholder="Enter password" required minlength="6">    
                    </div>
                    <div class="form-group">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  
                     <input type="password" class="ml-3" [(ngModel)]="secondPass" name="secondPassword"  placeholder="Repeat password" required minlength="6">    
                    </div>
                    
                    <div class="form-group">
                     <button [disabled]="!loginForm.valid" class="edit" (click)="ChangePassword()"  readonly>Change Password </button>
                     </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
</body>