<div class ="bodyDiv">

<div *ngIf="!canFillForm" class="free">
    The date has passed
    </div>
<div *ngIf="canFillForm">
    
    <div class = "tasks firstHeading">
        <select id ="typeSelect"  [ngModel]="selectedType" (change)="onChangeType($event.target.value)" name="typeChoose" >
            <option selected value="" disabled id="firstChoose">Choose type</option>
            <option value="5e59010597e81d0001a5cded">Speed endurance</option>
            <option value="5e59011297e81d0001a5cdee">Speed endurance II</option>
            <option value="5e59021997e81d0001a5cdef">Tempo</option>
            <option value="5e7f4732076ce700012eb97a">Exerciseses on the stairs</option>
            <option value="5e7f47bd076ce700012eb97c">run on the stairs</option>
            <option value="5e7f4764076ce700012eb97b">Cross</option>
            <option value="5e7f4a96076ce700012eb97d">limbering-up</option>
        </select>
    </div>
    <div *ngIf="selectedType!=''&& trainingsCount>0" class="bodyNewTrain">
        <form #PersonalTrain="ngForm" class="" (ngSubmit)="OnSubmit()">

            <div class="form-group">    
                <div class = "row " id="firstRow">
                  <div class="input-field col-md-3" >
                    <label for="descriptionTextArea">Description</label>  
                  </div>
                  <div class="input-field col-md-9">        
                    <textarea  type="text" class="form-control" [(ngModel)]="Description" name="description" required > </textarea>
                </div>   
                </div>
  
                 </div>

           
            <div class="form-group">    
                <div class = "row ">
                    
                      <div class="input-field col-md-9">   
                <select  id ="typeSelect"  (change)="onChangeTraining($event.target.value)" name="trainingChoose" >
                    <option value="" selected disabled hidden id="firstChoose"> Choose Training</option>
                    <option value="{{i.id}}" *ngFor="let i of Trainings">{{i.toDisplay}}</option>
                </select>
                </div>

            </div>
            </div>
            <div class="form-group">    
                <label>Choose Athletes</label>
                <select [(ngModel)]="selectAthletes"  name="athleteChoose" multiple required>
                    <option  [ngValue]="i" *ngFor="let i of Athletes">{{i.name}} {{i.surname}}</option>
                    </select>
            </div>
            <div class ="form-group ">
                <label class="radio-inline">
                  <input type="radio" name="optradio" [(ngModel)]="Place" id="Inside" value="Inside" checked>Inside
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio"  [(ngModel)]="Place" id="Outside" value="Outside">Outside
                </label>   
            </div>
            <div class="form-group">
                <button [disabled]="!PersonalTrain.valid" class="btn btn-secondary" type="submit" >Confirm</button>
                </div>
        </form>
    </div>
</div>
</div>