<div class="container"></div>
        <div  *ngIf="personalTraining" >
            <div> 
                  <div class = "tasks firstHeading">
                    <p class="heading">TRAINING TEMPLATE</p>  
                  </div>
                   
             <form #TrainingTemplateForm="ngForm" class="" >
              <div class="form-group">    
              <div class = "row ">
                <div class="input-field col-md-3" >
               <label for="descriptionTextArea">Description</label>
                </div>
                <div class="input-field col-md-9">        
               <textarea  type="text" class="form-control" [(ngModel)]="toDo.description" name="description" readonly > </textarea>
              </div>   
              </div>

               </div>
                <div class ="form-group separate" *ngIf="setsToDisplay.length>0">      
                    
                    <div class= "row trainInfo" >
                      <div class="input-field col s3  d-flex justify-content-center" >
                        <label for="descriptionTextArea">Distance</label>   
                      </div>
                      <div class="input-field col s3  d-flex justify-content-center" >
                        <label for="descriptionTextArea">Time</label>                      
                      </div>  
                      <div class="input-field col s3  d-flex justify-content-center" >
                        <label for="descriptionTextArea">Rest</label>                   
                      </div>
          
                  <div *ngFor="let set of setsToDisplay; let i = index" name="sets">       
                   
                    <div class= "row" >
                      <div class="input-field col s3" >
                        <input type="number" step="0.01" class="form-control num" [(ngModel)]="set.distane"  name="distance{{i}}" readonly>
                      </div>
                      <div class="input-field col s3" >
                        <input type="text" class="form-control num" [(ngModel)]="set.runTime" name="pace{{i}}"  readonly>                      
                      </div>  
                      <div class="input-field col s3" >
                        <input type="text"  class="form-control num"  [(ngModel)]="set.rest" name="rest{{i}}" readonly>                      
                      </div>
                      
                      </div>
                      </div>
                  </div>                
               </div>
               
               <div class ="form-group separate">    
                <label>Repeats: {{toDo.repeats}}</label>   
               </div>     
             </form>  
            </div>
          <div>
            <div class = "tasks section" >
              <p class="heading"> {{athlete}} TRAINING</p>   
              </div>
          
             <form #PersonalTrain="ngForm" class="" >
              <div class="form-group">   
                <div class = "row ">
                  <div class="input-field col-md-3" >
                    <label for="descriptionTextArea">Coach Tasks</label>   
                  </div>
                  <div class="input-field col-md-9">        
                    <textarea  type="text" class="form-control" [(ngModel)]="personalTraining.description" name="description" readonly > </textarea>
                </div>   
                 </div>
                              
              
               </div>   
               <div class ="form-group separate">    
                <label>Place: {{personalTraining.place}}</label>   
               </div> 
               
               <div class ="form-group separate" *ngIf="alreadyPast">    
                <label>Fill Athlete training:</label>   
               </div>  
               <div class= "row" *ngIf="trainingsToAddFull.length!=0">
                <div class=" col-md-3" >
              <label>Distance</label>
                          </div>
                <div class=" col-md-2" >
                  <label>Pace/m</label>
                </div>  
                <div class=" col-md-2" >
                  <label>Pace/s</label>
                </div>
                <div class=" col-md-2" >
                  <label>Rest/m</label>
                </div>
                <div class=" col-md-2" >
                  <label>Rest/s</label>
                </div>
                <div class=" col-md-1" >
                                
                </div>
                </div>
              <div *ngFor="let trainingtoAdd of trainingsToAddFull; let i = index" name="sets" >
                          
                <div class ="form-group ">
                  
                <div class= "row" >
                  <div class=" col-md-3" >
                    <input type="number" min="0" step="0.01" id="distance" class="" [(ngModel)]="trainingtoAdd.distance"  name="distance{{i}}" placeholder="Distance/m" required #name="ngModel">
                            </div>
                  <div class=" col-md-2" >
                    <input type="number" min="0" step="0.01" id="timesfill" class="" [(ngModel)]="trainingtoAdd.paceMin" name="paceMin{{i}}" placeholder="Pace/min" required >                      
                  </div>  
                  <div class=" col-md-2" >
                    <input type="number" min="0" step="0.01" id="timesfill"  class=""  [(ngModel)]="trainingtoAdd.paceSec" name="paceSec{{i}}" placeholder="Pace/s" required  >                      
                  </div>
                  <div class=" col-md-2" >
                    <input type="number" min="0" step="0.01" id="timesfill"  class=""  [(ngModel)]="trainingtoAdd.restMin" name="restMin{{i}}" placeholder="Rest/min" required  >                      
                  </div>
                  <div class=" col-md-2" >
                    <input type="number" min="0" step="0.01" id="timesfill"  class=""  [(ngModel)]="trainingtoAdd.restSec" name="restSec{{i}}" placeholder="Rest/s" required  >                      
                  </div>
                  <div class=" col-md-1" >
                    <button  class="btn  " id="delete" (click)="OnDelete(i)">-</button>                     
                  </div>
                  </div>
                  </div>
              </div> 
             <div class="form-group" *ngIf="alreadyPast">
              <div class = "row  ml-1">
                <div class="sm-6">
              <button  class="btn btn-info" id ="add"  (click)="OnClick()">+</button>
              </div>
              <div class="sm-6" *ngIf="negative">
                <p id="negativ">{{message}}</p>
                </div>
              </div>
              </div>        

           
           

              <div class="form-group separate">    
                <div class = "row ">
                 <div class="input-field col-md-3" >
                <label for="descriptionTextArea">Athlete report</label>
                 </div>
                 <div class="input-field col-md-9">        
                  <textarea  type="text" class="form-control" [(ngModel)]="personalTraining.athleteReport" name="Report" readonly> </textarea>
               </div>   
                </div>
                 
               </div>  



              <div class="form-group" *ngIf="alreadyPast">
                <button [disabled]="!PersonalTrain.valid" class="btn btn-secondary" type="submit" (click)="OnSubmit()" >Confirm</button>
                </div>
            </form> 
             
          </div>



  </div>
