.tasks
{
    text-align: center;
    margin-top: -5px;
   background-color: khaki;
   border-bottom: rgb(83, 82, 82) 2px solid;
}
p.heading
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
div.form-group
{
    margin-left: 10px;
    margin-right: 10px;
}
div.separate
{
    border-top: rgb(233, 230, 230) 2px solid;
}

div.section
{
    border-top: rgb(83, 82, 82) 2px solid;
    border-bottom: rgb(83, 82, 82) 2px solid;
    margin-bottom: 15px;
}
div.trainInfo
{
    width:100%;
    margin-left: 0.5%;
}

.num
{
    text-align: right; 
}

#delete
{
    color:white;
  background-color:rgb(68, 67, 67);
}

#delete:hover
{
    color:white;
  background-color:rgb(32, 32, 32);
}

#add
{
  background-color:khaki;
}
#add:hover
{
  background-color:rgb(238, 219, 52);
}
div.free{
    text-align: center;
    font-size: 150%;

}
#negativ
{
    margin-left: 50px;
    color: red;
    font-size: 15px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
 
}

#distance
{
    text-align: right; 
max-width: 90px;
border-radius: 5px;

}

#timesfill
{
    text-align: right; 
max-width: 70px;
border-radius: 5px;
}

.close
{
    margin-top: -45px;
    margin-right: 10px;
}