html, body {
  height: 100%;
  width: 101.2%;
  background-color: white;
}

#title 
{
  
  border-radius: 2px;
  background-color: rgb(56, 58, 56);
  color: white;
}

tr.comp
{
  height:50px;
  border-bottom: grey 2px solid;

}
div.competition
{
  max-height:50px; 
  overflow:auto

}
