html, body {
    height: 100%;
    width: 101.2%;
    background-color: white;
  }
  .row
  {
    margin-top: 10%;

  }
  
  #title 
  {
    
    border-radius: 2px;
    background-color: rgb(56, 58, 56);
    color: white;
  }
  
  tr.comp
  {
    height:50px;
    border-bottom: grey 2px solid;
  
  }
  div.competition
  {
    max-height:50px; 
    overflow:auto
  
  }

  button.newCompetition
{
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    height:5%;
    background-color: rgb(59, 59, 59);
    margin-top: 2%;
    margin-right: 10%;    
}