<body>

    <div class="messageGood d-flex " *ngIf="successMessage || failMessage">
        <div [class.messageGood]="successMessage" [class.messageBad]="failMessage">
      
          <p >{{message}}</p>   
        </div>
      </div>

<div class = "container">
    <button class="btn btn-secondary float-right newTrain" (click)="OpenModalInsert()"  *ngIf="Role==='Admin'">New user</button >
      
    <div class="list-group trainings">
        <div *ngFor="let user of users" (click)="OpenModalDelete(user.id)" >
            <div class = "row tableRow">
            <div class="input-field col s3 trains" >
              <td >{{user.name}}</td>         
            </div>
            <div  class="input-field col s3 trains">
              <td >{{user.surname}}</td>    
          </div>
          <div  class="input-field col s4 trains">
            <td >{{user.email}}</td>    
        </div>
        <div  class="input-field col s1 trains">
            <td >{{user.role}}</td>    
        </div>
          <div class="input-field col s1  trains" >
            <div *ngIf="user.emailConfirmed">
            <span class="glyphicon glyphicon-ok-circle"  id ="truefalse"></span>
            </div>
            <div *ngIf="!user.emailConfirmed">
              <span class="glyphicon glyphicon-remove-circle" id ="truefalse"></span>
              </div>
             
          </div>
        </div>
        </div>
        </div>



    </div>

</body>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">


        <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit()" ngNativeValidate>
            <div class ="form-group mt-3">
              <div class="row">
                <div class="input-field col s6 validate">
                 <input type="email" class="form-control"  name="Email"  [(ngModel)]="userRegister.email" required placeholder="Enter email">       
                </div>                
              </div>
            </div>
            <div class ="form-group">
              <div class="row">
                <div class="input-field col s6 validate">
                  <input class="validate form-control" type="password" name="Password"  [(ngModel)]="userRegister.password" required minlength="6"  placeholder="Enter password">        
                </div>
              </div>
            </div>

            <div class ="form-group">
                <div class="row">
                  <div class="input-field col s6 validate">
                    <input  class="form-control" type="text" name="FirstName"  [(ngModel)]="userRegister.name" required placeholder="Enter your name">
                  </div>
                </div>
              </div>
            <div class ="form-group">
              <div class="row">               
                <div class="input-field col s6">
                  <input class="form-control" type="text" name="LastName"  [(ngModel)]="userRegister.surname" required placeholder="Enter your last name">
                  
                </div>
              </div>
            </div>
          
            <div class ="form-group ">
              <div class="row">
                <div class="input-field col s12 text-center">
                  <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit btn btn-secondary" type="submit">Submit</button>
                </div>
              </div>
            </div>
            </form>
            <div *ngIf="error" class="">
            <i class="material-icons ">error</i> <a class= "text-danger">{{error}}</a>
          </div>
          
           
          
          

         <!-- Modal footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>




         <!-- The Modal -->
     <div class="modal " id="myModalDelete">
        <div class="modal-dialog ">
          <div class="modal-content modalDelete">
  
          <!-- Modal Header -->
          <div class="modal-header head" *ngIf=" Role==='Admin'&& deleteModalActive"> 
            <h4 class="modal-title">Delete confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> 
      
          <div class="modal-body modalDeleteBody" *ngIf="Role==='Admin'&& deleteModalActive" >
            Are you sure you want to delete this user?
            <br>
            <div class = "row buttons">
            <button class="btn btn-secondary" type="submit"  (click)="DeleteUser()">Delete</button>
            <div class="divider"></div>
            <button type="button ml-1" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
      </div>
  
