@import '~@fullcalendar/core/main.css';  
@import '~@fullcalendar/daygrid/main.css';  

.container{ 
    margin-top: 1%;
    width: 74%;
    background-color: white;
   

}

.all{
    border-radius: 0;
    background-clip: border-box;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 700px;
}

html, body {
    height: 92.3vh;
    
    background-color: khaki;
    
}
.row {
    width: 100%;
  }

  
div.left{    
    width:25%;    
    float:left;
    background-color: grey;
    box-sizing: border-box;
  }
 
  div.right{
    width:75%;
    height: 92.3vh;
    overflow: hidden;
    background-color: khaki;
    box-sizing: border-box;
  }

  div.list
{  
    margin-left: 5%;
    width: 90%;
    margin-top: 10%;
    height: 10%;
   //height: 100px;
    background-color: khaki;
    border-radius: 15px;
    transition: height 300ms;
    overflow: hidden;
}
div.list:hover,div.times:hover
{
    background-color: rgb(219, 209, 61);
}
div.listBig
{
  overflow: hidden;
  margin-left: 5%;
  width: 90%;
  margin-top: 10%;
  min-height: 10%;
  max-height: 50%;
// height: 300px;
  background-color: khaki;
  border-radius: 15px;
  transition: height 300ms;
  
}

div.sides
{
max-height:200px;

}

#notesNames
{ 

  margin-left:10%;
  margin-top:2%;
  font-family: "Comic Sans MS", cursive, sans-serif
}
#side
{
   font-size:7px;
  margin-left:10%;
  margin-top:2%;
  font-family: "Comic Sans MS", cursive, sans-serif

}
#down{
  margin-top:-9%;
  margin-left:90%;
}

.maxlenght
{
  overflow-y: auto; 
  overflow-x:  hidden;
  max-height:350px;
}

div.scroolable
{
  overflow-y: auto; 
  overflow-x:  hidden;
  max-height:50px;
}

div.athleteListElem
{
 border-bottom: 2px grey solid;
 border-top: none;
 border-right: none;
}

#athleteDeleteButton
{
  color:white;
  background-color: rgb(53, 53, 53);
  margin-left: 5%;
  margin-top: 15%;
}

.newTrainHome{
 margin-top: 10%;
 margin-left: 35%;
background-color: rgb(54, 54, 54);
color: white;
height: 60px;
width: 40%;
font-size: 1.5vw;
}

.messageGood
{
  text-align: center;
  font-size: 150%;
opacity: 0.9;
width: 100%;
position: absolute;
height: 10%;
background-color: rgb(114, 179, 114);
}

.messageBad
{
  text-align: center;
  font-size: 150%;
opacity: 0.9;
width: 100%;
position: absolute;
height: 10%;
background-color: rgb(179, 116, 114);
}

div.head
{
text-align: center;

}

.modalDelete
{
margin-top: 40%;
width: 80%;
}
.buttons
{
  margin-top: 10%;
margin-left: 50%;
}
button.btnclose
{
  margin-left: 3%;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}