<body>
<div class="messageGood d-flex " *ngIf="successMessage || failMessage">
  <div [class.messageGood]="successMessage" [class.messageBad]="failMessage">

    <p >{{message}}</p>   
  </div>
</div>
    <div class="row">
      <div class="left">          
      
          <div class="" *ngIf="Role==='Coach' && ListClicked && AssignedTrainingsByDate"  (click)="ChangeAthleteListSize()" [class.listBig]="listSizeBig" [class.list]="!listSizeBig" > 

              <div  *ngIf="listSizeBig" >
                <div class = "row">
                  <p id ="notesNames">Athletes list {{dateClicked}}</p>   
                  <span class=" glyphicon glyphicon-menu-up" id="down" aria-hidden="true"></span>      
                </div>
                <div class = "maxlenght">
                  <div class="list-group" >
        
                  
                    <tr *ngFor="let training of AssignedTrainingsByDate" > 
                        <div class="row justify-content-between" >
                       <div  class=" list-group-item-action col-md-9 athleteListElem" (click)="TurnOnTrain(training)">
                      <td class="col-md-6 " >{{training.athlete}}</td>
                      <td class="col-md-6 " ><div class= "scroolable">{{ training.definition}}</div></td> 
                        </div>
                      <div class="col-md-2 ">  <button type="button" class="btn btn-default" id="athleteDeleteButton" (click)="DeletePersonal(training.personalTrainingId)">Delete</button></div>    
                        </div>
                      </tr>            
                  </div>
             </div>
          </div>

                <div  *ngIf="!listSizeBig" >
                  <p></p>
                  <div class = "row">
                    <p id ="notesNames">Athletes list {{dateClicked}}</p>   
                    <span class=" glyphicon glyphicon-menu-down" id="down" aria-hidden="true"></span>      
                  </div>
                </div>  
              
             
           </div>
           <div  *ngIf="Role ==='Coach' && ListClicked">
            <button class="btn btn-secondary responsive newTrainHome"  *ngIf="Role==='Coach'||Role==='Admin'" (click)="OpenNewTrainingModal()">New Training</button >
            </div>

       
        </div>
        <div class="right">
          <div class='app container calendar'>  

            <full-calendar id ="full"   #fullcalendar  deepChangeDetection="true"
            [editable]="true"
             [events]="calendarEvents"  
             [firstDay]=1
            (dateClick)="dateClick($event)"
            
            [plugins]="calendarPlugins" 
            (eventClick)="eventClick($event)"  
           ></full-calendar>  
          </div>  
       </div>
    </div>








    <!-- The Modal -->
    <div class="modal " id="myModal">
      <div class="modal-dialog ">
        <div class="modal-content all">

      
          <div  >
            <app-personal-training-modal *ngIf="Role==='Athlete'"
            [toDo]="ToDoInTraining"
            [personalTraining]="ChosenTraining"
            [exist]="exist"
            (TurnOnSuccesMessage)="TurnOnSuccesMessageAthlete()"
            ></app-personal-training-modal>     
            <app-coach-training-assign-modal *ngIf="Role==='Coach' && TrainingFormActive"
            [dateClicked]="dateClicked"
            (renewTrainings)="renewTrainings($event)"
            ></app-coach-training-assign-modal>

            <app-athlete-list *ngIf="Role==='Coach' && PersonalTrainActive"
            [dateClicked]="dateClicked"
            [AssignedTraining]="TrainingToSendForModal"
            (SuccesfullyMadeByCoachMessage)="SuccesfullyMadeByCoachMessage($event)"
            >           
            </app-athlete-list>

            
          </div>
         
      
           <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
        
          
        </div>
      </div>
    </div>


    <!-- The Modal -->
    <div class="modal " id="myModalDelete">
      <div class="modal-dialog ">
        <div class="modal-content modalDelete">

        <!-- Modal Header -->
        <div class="modal-header head" *ngIf="Role==='Coach' && deleteModalActive"> 
          <h4 class="modal-title">Delete confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> 
    
        <div class="modal-body modalDeleteBody" *ngIf="Role==='Coach' && deleteModalActive" >
          Are you sure you want to delete this training?
          <br>
          <div class = "row buttons">
          <button class="btn btn-secondary" type="submit" (click)="DeletePersonalTraining()">Delete</button>
          <div class="divider"></div>
          <button type="button ml-1" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>



  </body>