div.row
{
  border-bottom: 1px solid rgb(179, 177, 177);
  width: 93%;
  text-align: center;
  display: inline-block;
  color: grey;
}
#Name
{
  margin-top: 5px;
  color: grey;
}
#left {
  float:left;
}
#right {
  float:right;
  width:150px;
}
#exampleFormControlSelect1
{
  text-align: right;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  margin-top:5%;
}
#competition
{
    border-radius: 10px;
    border: 1px solid;
    width: 150px;
}
#time
{    
    border-radius: 10px;
    text-align: right;
    width: 45%;
    border: 1px solid;
}
#date
{    
  border: 1px solid;
    border-radius: 10px;
    width: 150px;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
  }
  div.form-group
  {
    margin: auto;
  }
  #negativ
{
    margin-left: 50px;
    color: red;
}

select{
  direction: rtl;
}

button.submit
{
   
    color: white;
    min-height: 25px;
    height:10%;
    margin-top:15px;
    background-color: black;
    margin-left: 40%;
    margin-bottom: 15px;    
}