<body>

    <div class="messageGood d-flex " *ngIf="successMessage || failMessage">
        <div [class.messageGood]="successMessage" [class.messageBad]="failMessage">
      
          <p >{{message}}</p>   
        </div>
      </div>

<div class = "container">
    <button class="btn btn-secondary float-right newTrain" (click)="OpenModalInsert()"  *ngIf="Role==='Admin'">{{'ADMIN.NEWUSER' | translate}}</button >

      <div class="trainingsName">
        <div class = "row tableName">
          <div class="col-md-2 trains" >
            <td ><p class = "heading">{{'ADMIN.NAME' | translate}}</p></td>         
          </div>
          <div  class="col-md-2 trains">
            <td ><p class = "heading">{{'ADMIN.SURNAME' | translate}}</p></td>    
        </div>
        <div  class=" col-md-4 trains ">
          <td ><p class = "heading ">{{'ADMIN.EMAIL' | translate}}</p></td>    
      </div>
      <div  class="col-md-2 trains ">
          <td ><p class = "heading">{{'ADMIN.ROLE' | translate}}</p></td>    
      </div>
        <div class=" col-md-2 trains" >
          <td ><p class = "heading">{{'ADMIN.EMAILCONFIRMED' | translate}}</p></td>   
           
        </div>
      </div>
      </div>

    <div class="list-group trainings">
        <div *ngFor="let user of users" (click)="OpenModalDelete(user.id)" >
            <div class = "row tableRow">
            <div class="col-md-2 trains" >
              <td >{{user.name}}</td>         
            </div>
            <div  class="col-md-2 trains">
              <td >{{user.surname}}</td>    
          </div>
          <div  class="col-md-4 trains">
            <td >{{user.email}}</td>    
        </div>
        <div  class="col-md-2 trains">
            <td >{{user.role}}</td>    
        </div>
          <div class="col-md-2  trains" >
            <div *ngIf="user.emailConfirmed">
            <span class="glyphicon glyphicon-ok"  id ="truefalse"></span>
            </div>
            <div *ngIf="!user.emailConfirmed">
              <span class="glyphicon glyphicon-remove" id ="truefalse"></span>
              </div>
             
          </div>
        </div>
        </div>
        </div>



    </div>

</body>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
     
        <div class="modal-header ">
          <h5 class="modal-title newAdmin">New admin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        

        <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit()" ngNativeValidate>
            <div class ="form-group mt-3">
              <div class="row">
                <div class="input-field col s6 validate">
                 <input type="email" class="form-control"  name="Email"  [(ngModel)]="userRegister.email" required placeholder="{{'HOME.ENTEREMAIL' | translate}}">       
                </div>                
              </div>
            </div>
            <div class ="form-group">
              <div class="row">
                <div class="input-field col s6 validate">
                  <input class="validate form-control" type="password" name="Password"  [(ngModel)]="userRegister.password" required minlength="6"  placeholder="{{'HOME.ENTERPASSWORD' | translate}}">        
                </div>
              </div>
            </div>

            <div class ="form-group">
                <div class="row">
                  <div class="input-field col s6 validate">
                    <input  class="form-control" type="text" name="FirstName"  [(ngModel)]="userRegister.name" required placeholder="{{'ADMIN.ENTERADMINNAME' | translate}}">
                  </div>
                </div>
              </div>
            <div class ="form-group">
              <div class="row">               
                <div class="input-field col s6">
                  <input class="form-control" type="text" name="LastName"  [(ngModel)]="userRegister.surname" required placeholder="{{'ADMIN.ENTERADMINSURNAME' | translate}}">
                  
                </div>
              </div>
            </div>
          
            <div class ="form-group ">
              <div class="row">
                <div class="input-field col s12 text-center">
                  <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit btn btn-secondary" type="submit">Submit</button>
                </div>
              </div>
            </div>
            </form>
            <div *ngIf="error" class="">
            <i class="material-icons ">error</i> <a class= "text-danger">{{error}}</a>
          </div>                    
          
 
        </div>
      </div>
    </div>




         <!-- The Modal -->
     <div class="modal " id="myModalDelete">
        <div class="modal-dialog ">
          <div class="modal-content modalDelete">
  
          <!-- Modal Header -->
          <div class="modal-header head" *ngIf=" Role==='Admin'&& deleteModalActive"> 
            <h4 class="modal-title">{{'GENERAL.DELETECONFIRM' | translate}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> 
      
          <div class="modal-body modalDeleteBody" *ngIf="Role==='Admin'&& deleteModalActive" >
            {{'GENERAL.USERDELETE' | translate}}
            <br>
            <div class = "row buttons">
            <button class="btn btn-secondary" type="submit"  (click)="DeleteUser()">{{'GENERAL.DELETE' | translate}}</button>
            <div class="divider"></div>
            <button type="button ml-1" class="btn btn-danger" data-dismiss="modal">{{'GENERAL.CLOSE' | translate}}</button>
            </div>
            </div>
          </div>
        </div>
      </div>
  
