
<div>
    
    <div >
        <form #NewCompetitionForm="ngForm" class="" >
            <div class="form-group">    
                
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="competition.distance" name="destinition"  required> 
                <option value="" disabled selected>Distance</option>
                <option type="number"  value=400>400</option>
                <option type="number"  value=600>600</option>
                <option type="number"  value=800>800</option>
                <option type="number"  value=1000>1000</option>
              </select>
            </div>  
            <div class ="form-group ">
                <label class="radio-inline">
                  <input type="text" id="competition" [(ngModel)]="competition.competitionName"name="competition" placeholder="Competition name" required>
                </label>              
            </div>
            <div class="form-group">
                <div class= "row" >

                    <label class="radio-inline">
                        <input type="number" id="time" [(ngModel)]="time.min" name="minutes" placeholder=" result minutes">
                      </label> 
                      <label class="radio-inline">
                        <input type="number" step="0.01" id="time" [(ngModel)]="time.sec" name="seconds" placeholder="result seconds" required>
                      </label> 

                </div>
            </div>

            <div class ="form-group ">
                <label class="radio-inline">
                  <input type="date" id="date" value="date" [(ngModel)]="competition.date" name="date" required>
                </label>              
            </div>
            <div class ="form-group ">
                <label class="radio-inline">
                  <input type="radio" name="optradio"  id="Inside" value="Inside"   [(ngModel)]="competition.place" checked>Inside
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio"  id="Outside" value="Outside" [(ngModel)]="competition.place">Outside
                </label>   
            </div>
            <div class="form-group">
                <button [disabled]="!NewCompetitionForm.valid" class="btn btn-secondary" type="submit" (click)="OnSubmit()">Confirm</button>
                </div>
        </form>
    </div>
</div>
     