
.allinvitations{overflow-y: scroll; 
    max-height:150px; 
    width: auto;
    color: white;
}

#invites{ 
    margin-left: 5%;
   margin-right: 5%;}

   #acceptbutton
   {
   background-color: black;
   color: rgb(148, 235, 148);
   }
   #declinetbutton
   {
   background-color: black;
   color: rgb(248, 135, 135);
   }

   #inputInvite
   {
       margin-left: auto;
       background-color: grey;
       color: white;
   }
   ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    
    opacity: 1; /* Firefox */
  }
  button.sendInvite
  {
    background-color: black;
    color: white;

  }
  button.sendInvite:hover
  {
    background-color: grey;
    color: white;

  }

#oneinvite:hover{
background-color: grey;
  }

  .divider{
    width:5px;
    height:auto;
    display:inline-block;
  }

  .divider2{
    width:2px;
    height:auto;
    display:inline-block;
  }
  div.noinv
  {
      text-align: center;
  }
  
  #NoInvites
  {     
      font-size: 20px;
      color: rgb(240, 231, 231);
  }


  /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }